.form {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
}

.inputField {
  max-width: 300px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.button {
  width: 150px;
  align-self: center;
  margin-top: 20px;
}

.error {
  font-size: 10px;
  color: red;
}
